absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
audioread==3.0.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
Cython==3.0.10
decorator==5.1.1
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1714285159399/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
fsspec==2024.6.1
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527288181/work
graphsurgeon==0.4.6
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
idna==3.7
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1721856510709/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.42.0
local-attention==1.9.14
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.8
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numba==0.59.1
numpy==1.26.4
onnx==1.16.2
onnx-graphsurgeon==0.3.12
packaging==24.1
platformdirs==4.2.2
pooch==1.8.2
protobuf==4.25.3
pycparser==2.22
pyworld==0.3.4
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soundfile==0.12.1
soxr==0.4.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1721004824012/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1718113407052/work/tensorboard-2.17.0-py3-none-any.whl#sha256=859a499a9b1fb68a058858964486627100b71fcb21646861c61d31846a6478fb
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1695425375375/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=4a87e32f17958007f01c1acb90cf7aab5877e41b1a929e3a016020697c37b53d
tensorrt==8.5.3.1
threadpoolctl==3.5.0
torch==2.3.1
torchaudio==2.3.1
triton==2.3.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
uff==0.6.9
urllib3==2.2.2
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
